<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../CSS/cart.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main"></div>
    <div class="menu-left">
        <ul>
            <li>
                <input type="text" placeholder="Tìm kiếm"><i class="fas fa-search"></i>
            </li>
            <li>
                <a href="../layout/main.html">TRANH CHỦ</a>
            </li>
            <li>
                <a href="../layout/product.html">SẢN PHẨM HOT</a>
            </li>
            <li>
                <a href="../layout/product.html">SALE</a>
            </li>
            <li>
                <a href="../layout/product.html">ĐỒNG HỒ NỮ</a>
            </li>
            <li>
                <a href="../layout/product.html">ĐỒNG HỒ NAM</a>
            </li>
            <li>
                <a href="../layout/product.html">BRANDS</a>
            </li>
            <li>
                <a href="../layout/LienHe.html">LIÊN HỆ</a>
            </li>
            <li>
                <a href="../layout/GioiThieu.html">GIỚI THIỆU</a>
            </li>
            <li>
                <a href="../layout/formDki.html">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#">HOTLINE:0961 452 042</a>
            </li>
        </ul>
    </div>
    <div class="head">
        <div class="header">
            <div class="header-item" id="hide-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="header-logo">
                <a href="../layout/main.html">
                <img src="../Image/headerLogo.png" alt="">
                </a>
            </div>
            <div class="header-menu">
                <div class="header-menu-icon">
                    <i class="fas fa-search"></i>
                    <div class="none">
                        <div class="header-input-form">
                        <input type="text" placeholder="Tìm kiếm"><i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="header-menu-icon">
                    <a href="../layout/formDki.html" style="color:#6e6c6c;"><i class="fas fa-user"></i></a>
                </div>
                <div class="header-menu-icon">
                    <a href="../layout/cart.html" style="color:#6e6c6c;"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="header-item">
                <i class="fas fa-shopping-bag"></i>
            </div>

        </div>
    </div>

    <div class="body">
        <div class="body-menus">
            <div class="body-menu">
                <div class="body-menu-item">
                    <a href="../layout/main.html">TRANG CHỦ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">SẢN PHẨM HOT</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">SALE</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">ĐỒNG HỒ NỮ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">ĐỒNG HỒ NAM</a>
                </div>
                <div class="body-menu-item hover">
                    <a href="../layout/product.html">BRANDS <i class="fas fa-chevron-down"></i></a>
                    <div class="item-table">
                        <ul>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/LienHe.html">LIÊN HỆ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/GioiThieu.html">GIỚI THIỆU</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="delete"><i class="fas fa-trash"></i></td>
                            <td class="image"><img src="../Image/cart1.jpg" width="90px" alt=""></td>
                            <td class="name">BIG BANG MXM18 SANG BLEU</td>
                            <td class="price">739.370.000 đ</td>
                            <td><i class="fas fa-minus minus"></i><input type="text" class="number" value="1"><i class="fas fa-plus plus"></i></td>
                            <td class="total">739.370.000 đ</td>
                          </tr>
                          <tr>
                            <td class="delete"><i class="fas fa-trash"></i></td>
                            <td class="image"><img src="../Image/cart1.jpg" width="90px" alt=""></td>
                            <td class="name">BIG BANG MXM18 SANG BLEU</td>
                            <td>739.370.000 đ</td>
                            <td><i class="fas fa-minus minus"></i><input type="text" class="number" value="1" disabled><i class="fas fa-plus plus"></i></td>
                            <td class="total">739.370.000 đ</td>
                          </tr>
                          <tr>
                            <td class="delete"><i class="fas fa-trash"></i></td>
                            <td class="image"><img src="../Image/cart1.jpg" width="90px" alt=""></td>
                            <td class="name">BIG BANG MXM18 SANG BLEU</td>
                            <td>739.370.000 đ</td>
                            <td><i class="fas fa-minus minus"></i><input type="text" class="number" value="1" disabled><i class="fas fa-plus plus"></i></td>
                            <td class="total">739,370,000 đ</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-5 col-md-12 cart-left">
                    <p>TỔNG SỐ SẢN PHẨM: <span>1</span></p>
                    <div class="bill">
                        <div class="bill-item">
                            <p>Giao hàng</p>
                            <p>
                                <span> Giao hàng miễn phí<br>
                                Ước tính cho Việt Nam</span>
                                <a href="#">Đổi địa chỉ</a>
                            </p>
                        </div>
                        <div class="bill-item">
                            <p>Tổng:</p>
                            <span>2.218.111.000 đ</span>
                        </div>
                    </div>
                    <div class="bill-button">
                        <button>TIẾN HÀNH THANH TOÁN</button>
                    </div>
                    <div class="bill-endow">
                        <p><i class="fas fa-tag"></i>Phiếu ưu đãi</p>
                        <input type="text">
                        <button>ÁP DỤNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div>
            <div class="footer-item">
                <img src="../Image/footer.png" width="100%" alt="">
            </div>
            <div class="footer-item">
                <div class="footer-text-item">
                    <p>319 C16 Lý Thường Kiệt, Phường 15
                        Quận 11, Tp.HCM
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>076 922 0162
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>luongphuong757@gmail.com
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>LuonTuanPhuong
                    </p>
                </div>
            </div>
            <div class="footer-item">
                <h3>FOLLOW US</h3>  
                <p>Follow để không bỏ lỡ bất kì yêu đãi nào từ chúng tôi</p>
            </div>
            <div class="footer-item">
                <h3>ĐĂNG KÝ</h3>
                <p>Đăng ký để nhận được thồn tin mới nhất từ chúng tôi</p>
                <div class="footer-form">
                <input type="text" placeholder="Email">
                <i class="fab fa-telegram-plane"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="../JS/main.js"></script>
    <script src="../JS/cart.js"></script>
</body>
</html>
</body>
</html>