<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../CSS/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="main"></div>
    <div class="menu-left">
        <ul>
            <li>
                <input type="text" placeholder="Tìm kiếm"><i class="fas fa-search"></i>
            </li>
            <li>
                <a href="../layout/main.html">TRANH CHỦ</a>
            </li>
            <li>
                <a href="../layout/product.html">SẢN PHẨM HOT</a>
            </li>
            <li>
                <a href="../layout/product.html">SALE</a>
            </li>
            <li>
                <a href="../layout/product.html">ĐỒNG HỒ NỮ</a>
            </li>
            <li>
                <a href="../layout/product.html">ĐỒNG HỒ NAM</a>
            </li>
            <li>
                <a href="../layout/product.html">BRANDS</a>
            </li>
            <li>
                <a href="../layout/LienHe.html">LIÊN HỆ</a>
            </li>
            <li>
                <a href="../layout/GioiThieu.html">GIỚI THIỆU</a>
            </li>
            <li>
                <a href="../layout/formDki.html">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#">HOTLINE:0961 452 042</a>
            </li>
        </ul>
    </div>
    <div class="head">
        <div class="header">
            <div class="header-item" id="hide-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="header-logo">
                <a href="../layout/main.html">
                <img src="../Image/headerLogo.png" alt="">
                </a>
            </div>
            <div class="header-menu">
                <div class="header-menu-icon">
                    <i class="fas fa-search"></i>
                    <div class="none">
                        <div class="header-input-form">
                        <input type="text" placeholder="Tìm kiếm"><i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
                <div class="header-menu-icon">
                    <a href="../layout/formDki.html" style="color:#6e6c6c;"><i class="fas fa-user"></i></a>
                </div>
                <div class="header-menu-icon">
                    <a href="../layout/cart.html" style="color:#6e6c6c;"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="header-item">
                <i class="fas fa-shopping-bag"></i>
            </div>

        </div>
    </div>
    <div class="body">
        <div class="body-menus">
            <div class="body-menu">
                <div class="body-menu-item">
                    <a href="../layout/main.html">TRANG CHỦ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">SẢN PHẨM HOT</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">SALE</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">ĐỒNG HỒ NỮ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/product.html">ĐỒNG HỒ NAM</a>
                </div>
                <div class="body-menu-item hover">
                    <a href="../layout/product.html">BRANDS <i class="fas fa-chevron-down"></i></a>
                    <div class="item-table">
                        <ul>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                            <li><a href="../layout/product.html">ROLEX</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/LienHe.html">LIÊN HỆ</a>
                </div>
                <div class="body-menu-item">
                    <a href="../layout/GioiThieu.html">GIỚI THIỆU</a>
                </div>
            </div>
        </div>

        <div class="body-banners">
        </div>

        <div class="body-collection">
            <div class="body-collection-item">
                <div class="body-collection-banner" style="background-image: url(../Image/collection1.jpg);">

                </div>
                <div class="collection-item-content">
                    <h3>ĐỒNG HỒ CỔ ĐIỂN</h3>
                    <p>Phong cách trường tồn, có thể được nhận biết trong nháy mắt</p>
                    <button><a href="#">XEM THÊM</a></button>
                </div>
            </div>
            <div class="body-collection-item">
                <div class="collection-item">
                    <div class="collection-item-center " style="background-image: url(../Image/collection3.jpg);">

                    </div>
                    <div class="collection-center-content">
                        <h3>BỘ SƯU TẬP NĂM 2019</h3>
                        <button><a href="#">XEM THÊM</a></button>
                    </div>
                </div>
                <div class="collection-item">
                    <div class="collection-item-center " style="background-image: url(../Image/collection4.jpg);">

                    </div>
                </div>
            </div>
            <div class="body-collection-item">
                <div class="body-collection-banner" style="background-image: url(../Image/collection2.jpg);">
                    
                </div>
                <div class="collection-item-content">
                    <h3>ĐỒNG HỒ CHẤT</h3>
                    <p>Kết hợp hoafnharo tính năng ưu việt và phong cách đẳng cấp</p>
                    <button><a href="#">MUA NGAY</a></button>
                </div>
            </div>
        </div>

        <div class="body-product">
            <div class="body-product-text">
                <p>360° COLLECTION</p>
                <h1><span>FEATURED</span>
                     PRODUCTS</h1>
            </div>
            <div class="body-list-product">
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" width="100%" alt="">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" alt=""  width="100%">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" alt=""  width="100%">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" alt=""  width="100%">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" alt=""  width="100%">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item-image">
                        <img src="../Image/product1.jpg" alt=""  width="100%">
                        
                    </div>
                    <div class="product-item-content">
                        <p><a href="#">VERSACE VANITAS ROSE GOLD WATCH 40MM</a></p>
                        <span>38,100,000 ₫</span>
                    </div>
                </div>
            </div>
            <div class="body-product-text">
                <p>A COMPANIOR FOR YA</p>
                <h1><span>SPECIAL</span>
                     EDITION</h1>
            </div>
            <div class="body-box">
                <div class="banner-item">
                    <div class="banner-btn" id="prve" onclick = "prve()">
                        <i class="fal fa-angle-left"></i>
                    </div>
                    <div class="banner-btn" id="next" onclick = "next()">
                        <i class="fal fa-angle-right"></i>
                    </div>
                </div>
                <div class="body-product-special">
                    <div class="product-special-image">
                        <img src="../Image/special1.jpg" width="100%" alt="">
                    </div>
                    <div class="product-special-content">
                        <h3><a href="#"> BIG BANG MXM18 SANG BLEU 39</a></h3>
                        <span class="price">38,100,000 ₫</span>
                        <p>› Sản phẩm nhập khẩu chính hãng.<br>
                            › Vận chuyển miễn phí toàn quốc.<br>
                            › Giao hàng trong ngày.<br>
                            › Thanh toán sau khi nhận hàng.<br>
                            › Bảo hành 5 năm tại Công ty.<br>
                            › Bảo hành chính hãng toàn cầu.<br>
                            › Gọi
                            <strong>1800 0091</strong>hoặc<strong>028 3833 9999</strong>để đặt hàng.
                        </p>
                        <div>Mã: 83399</div>
                        <div>
                            <span>Danh mục:</span>
                                <a href="#" rel="tag">Casio</a>,
                                <a href="#" rel="tag">Citizen</a>,
                                <a href="#" rel="tag">Đồng hồ cặp đôi</a>,
                                <a href="#" rel="tag">Đồng hồ nữ</a>,
                                <a href="#" rel="tag">ROLEX</a></span>
                        </div>
                        <a href="#">ĐỌC TIẾP</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-news">
            <div>
                <div class="body-news-item">
                    <div class="news-item-image">
                        <a href="#"><img src="../Image/news1.jpg" width="100%" height="100%"alt=""></a>
                    </div>
                    <div class="news-item-content">
                        <h3>Chronograph 100M</h3>
                        <span>Timers Villa</span>
                    </div>
                </div>
                <div class="body-news-item">
                    <div class="news-item-image">
                        <a href="#"><img src="../Image/news2.jpg"  width="100%" height="100%" alt=""></a>
                    </div>
                    <div class="news-item-content">
                        <h3>Men's Maiden</h3>
                        <span>A Friend of a Man</span>
                    </div>
                </div>
                <div class="body-news-item">
                    <div class="news-item-image">
                        <a href="#"><img src="../Image/news3.jpg"  width="100%" height="100%" alt=""></a>
                    </div>
                    <div class="news-item-content">
                        <h3>Thin Dial</h3>
                        <span>Complete Mechanical</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-blog">
            <div class="body-product-text">
                <p>HAPPENINGS AROUND</p>
                <h1><span>OUR</span>
                     BLOG</h1>
            </div>
            <div class="body-blog-content">
                <div class="blog-content-item">
                        <div class="content-item-image">
                            <img src="../Image/blog1.jpg" alt="" width="100%">
                        </div>
                        <div class="content-item-text">
                            <h3>A LUBRICANT-FREE WATCH MEN FOR A PERFECT MEN</h3>
                            <span>3 Tháng Mười Hai, 2018</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididung</p>
                            <a href="#">ĐỌC THÊM</a>
                        </div>
                </div>
                <div class="blog-content-item">
                        <div class="content-item-image">
                            <img src="../Image/blog1.jpg" alt="" width="100%">
                        </div>
                        <div class="content-item-text">
                            <h3>A LUBRICANT-FREE WATCH MEN FOR A PERFECT MEN</h3>
                            <span>3 Tháng Mười Hai, 2018</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididung</p>
                            <a href="#">ĐỌC THÊM</a>
                        </div>
                </div>
                <div class="blog-content-item">
                        <div class="content-item-image">
                            <img src="../Image/blog1.jpg" alt="" width="100%">
                        </div>
                        <div class="content-item-text">
                            <h3>A LUBRICANT-FREE WATCH MEN FOR A PERFECT MEN</h3>
                            <span>3 Tháng Mười Hai, 2018</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididung</p>
                            <a href="#">ĐỌC THÊM</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <div class="footer-item">
                <img src="../Image/footer.png" width="100%" alt="">
            </div>
            <div class="footer-item">
                <div class="footer-text-item">
                    <p>319 C16 Lý Thường Kiệt, Phường 15
                        Quận 11, Tp.HCM
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>076 922 0162
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>luongphuong757@gmail.com
                    </p>
                </div>
                <div class="footer-text-item">
                    <p>LuonTuanPhuong
                    </p>
                </div>
            </div>
            <div class="footer-item">
                <h3>FOLLOW US</h3>  
                <p>Follow để không bỏ lỡ bất kì yêu đãi nào từ chúng tôi</p>
            </div>
            <div class="footer-item">
                <h3>ĐĂNG KÝ</h3>
                <p>Đăng ký để nhận được thồn tin mới nhất từ chúng tôi</p>
                <div class="footer-form">
                <input type="text" placeholder="Email">
                <i class="fab fa-telegram-plane"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/slideShow.js"></script>
    <script src="../JS/ptototype.js"></script>
</body>
</html>