<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
    <div class="slidebar">
        <div class="slidebar-logo">
            <a href="#"><img src="../Image/logo.png" alt="" width="200px" height="90px"></a>
        </div>
        <div class="slidebar-menu">
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                    </div>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><div><i class="fas fa-home"></i> Dashboard</div></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
        <div class="slidebar-custom">
            <a href="#">Customsize</a>
        </div>
    </div>


    <div class="main">
        <div class="main-menu">
            <div class="menu-left">
                <input type="text" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>
            <div class="menu-right">
                <div class="menu-note">
                    <i class="fas fa-bell"></i>
                    <span>8</span>
                </div>
                <div class="menu-account dropdown-toggle" data-toggle="dropdown">
                    <img src="../Image/user.jpg" height="40px" width="40px" alt="">
                    <span>John Doe</span>
                    <!-- <i class="fas fa-chevron-down"></i> -->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body row">
            <div class="col-lg-5 table-star">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                            <span>Stats</span>
                           <p> Website metrics for your awesome project</p>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 10%"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 10%"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 10%"></div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="table-icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="table-content">
                                    <span>5407</span>
                                    <p>Active items</p>
                                </div>
                                <div class="line">
                                    <div class="line-in" style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="col-lg-7 table-iem">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                            <span>Items</span>
                            <button type="button" class="btn btn-success btn-sm">Add menu</button>
                        </th>
                        <th>
                            <div class="menu-left">
                                <input type="text" placeholder="Search">
                                <i class="fas fa-search"></i>
                            </div>
                            <button type="button" class="btn btn-success btn-sm"><i class="fas fa-chevron-down"></i></button>
                            <button type="button" class="btn btn-success btn-sm"><i class="fas fa-chevron-up"></i></button>
                        </th>
                      </tr>
                      <!-- <tr>
                        <th>Name</th>
                        <th>Sales</th>
                      </tr> -->
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Sales</td>
                            <td>Status</td>
                            <td>Published</td>
                        </tr>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>John</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <canvas class="my-4 chartjs-render-monitor" id="myChart" width="1522" height="642" style="display: block; height: 514px; width: 1218px;"></canvas>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>